@media screen and (min-width: 992px) {
    .DockerContainers-actions {
        margin: 0 2px 0 2px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 40px);
        grid-auto-rows: auto;
        gap: 14px;
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {
    .DockerContainers-actions>button {
        margin: 2px;
        width: 40px;
        height: 40px;
    }
}

table {
    width: 100%;
    table-layout: fixed;
}

.DockerContainers-image-id {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.DockerContainers-logs {
    margin-bottom: 0;
}