.DockerImages-actions {
    margin: 0 2px 0 2px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-auto-rows: auto;
    gap: 14px;
    justify-content: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

.DockerImages-image-id {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.DockerImages-form {
    display: grid;
    grid-template-columns: 100px minmax(100px, 500px) 40px;
    justify-content: center;
    gap: 10px;
}

.DockerImages-form > .btn{
    width: 40px;
}