.DockerRemoteList-CardDeck {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    grid-gap: 24px;
}

.DockerRemoteList-CardDeck .card-text {
    text-align: start;
}
